@page "/articles/view/{id:long}"
@inject IWikiService WikiService
@inject NavigationManager NavigationManager
@using WikiBlazor.Shared.Models

<button class="btn btn-primary" @onclick="(() => Back())"><i class="oi oi-arrow-left"></i> Back</button>
<br/>

<iframe height="800" loading="lazy" allowTransparency="true" frameborder="1" scrolling="yes" style="width:100%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);" src="@_article.Url" type="text/javascript"></iframe>

@code {
    [Parameter]
    public long Id { get; set; }

    Article _article = new Article();

    protected override async Task OnParametersSetAsync()
    {
        _article = await WikiService.GetArticle(Id);
    }

    void Back()
    {
        NavigationManager.NavigateTo("articles");
    }
}
